# Include your project-specific ignores in this file
# Read about how to use .gitignore: https://help.github.com/articles/ignoring-files

# Compiled output

# Node.js and NPM
node_modules
npm-debug.log

# Firebase
firebase-debug.log

yarn.lock
/design
/database
/docs
/platforms
/plugins

*.orig

# Node build artifacts

# Local development
*.env
*.dev
.DS_Store

# Docker
Dockerfile
docker-compose.yml
