
@font-face {
  font-family: 'iconfont';  /* project id 80732 */
  src: url('//at.alicdn.com/t/font_4f8rkak0h2qk6gvi.eot');
  src: url('//at.alicdn.com/t/font_4f8rkak0h2qk6gvi.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_4f8rkak0h2qk6gvi.woff') format('woff'),
  url('//at.alicdn.com/t/font_4f8rkak0h2qk6gvi.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_4f8rkak0h2qk6gvi.svg#iconfont') format('svg');
}
