@import '~styles/variables.scss';

:local(.styles) {
  background-size: cover;
  background-position: center;
  overflow: hidden;

  > .cover {
    background-color: transparentize(black, 0.4);
  }

  > .body {
    overflow: auto;

    > .main {
      position: relative;
      max-width: 800px;
      min-height: 100%;
      padding: 0 20px 70px;
      margin: 0 auto;
      background-color: transparentize(black, 0.5);
      box-shadow: 0 0 10px transparentize(black, 0.5);
      display: flex;
      flex-direction: column;

      > .chat {
        padding-top: 20px;
        display: flex;

        > .avatar {
          padding-top: 8px;
          margin-right: 10px;
          width: 80px;

          > img {
            width: 100%;
          }
        }

        > .text {
          padding: 10px 20px;
          max-width: 70%;
          color: white;
          border-radius: 15px;
          font-size: 18px;
          box-shadow: 0 0 15px $main-gray;
        }
        > .text-self {
          background-color: $primary;
        }
        > .text-bot {
          background-color: black;
        }
      }
    }
  }

  > .footer {
    position: absolute;
    bottom: -1px;
    width: 100%;
    display: flex;
    justify-content: center;

    > .input {
      width: 100%;
      max-width: 800px;
      padding: 0 15px;
      display: flex;
      align-items: center;

      > input {
        flex: 1;
        padding: 8px 22px;
        font-size: 20px;
        line-height: 30px;
        border: none;
        color: white;
        background-color: black;
        outline: none;
        box-shadow: 0 1px 4px $light-gray;
      }
    }
  }
}
