@import '~styles/variables.scss';

:local(.styles) {

  > .header {
    z-index: 1;
    width: 100%;
    height: 60px;
  }

  > .body {
    z-index: 0;
    overflow: auto;
  }
  > .body-withHeader {
    top: 60px;
  }
}
